* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  padding: 40px 0;
}

.container {
  min-width: 960px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

header {
  background: #000;
  color: #fff;
  display: flex;
  padding: 10px 20px;
  align-items: center;
}

header h1 {
  margin-right: auto;
  font-size: 24px;
}

header h1 a {
  color: #fff;
}

header form {
  border: 1px solid rgba(255,255,255,0.5);
  display: flex;
  padding: 4px 10px 4px 0;
}

header form input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 6px 1em;
  font-size: 14px;
}

header form button {
  background: transparent;
  border: none;
  cursor: pointer;
}

#main {
  background: #f8f9fa;
}

#main h2 {
  padding: 1em 0;
  font-size: 30px;
}

#main .movie-list {
  display: flex;
  flex-wrap: wrap;
}
#main .movie-list > li {
  width: calc((100% - 80px) / 5) ;
  margin-right: 20px;
  margin-bottom: 2em;
}
#main .movie-list > li:nth-child(5n) {
  margin-right: 0;
}

#main .movie-list > li img {
width: 100%;
display: block;
transition: 0.5s;
}

#main .movie-list > li img:hover {
  width: 100%;
  transform: scale(1.05);
}

#main .movie-list > li > figure {
  overflow: hidden;
  margin-bottom: 1em;
}

#main .movie-list .info {
  display: flex;
  flex-wrap: nowrap;
  font-size: 14px;
  color: #666;
}

#main .movie-list .info .vote {
  margin-right: auto;
  color: #f30;
}

#main .movie-list > li h4 {
  margin-bottom: 5px;
}

#mainVisual {
  padding: 0;
}
#mainVisual .v-container{
  max-width: 1600px;
  margin: 0 auto;
  aspect-ratio: 16 / 7;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  position: relative;
  color: #fff;
}

#mainVisual .v-container:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
  background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0.3) 40%, rgba(0,0,0,0) 60%);
}

#mainVisual .container{
  z-index: 1;
}

#mainVisual .titleGroup {
  margin-bottom: 50px;
  margin-left: 40px;
  z-index: 1;
}

#mainVisual h2 {
  font-size: 50px;
}

.btn-link {
  background: steelblue;
  color: #fff;
  display: inline-block;
  padding: 10px 60px;
  margin-top: 1em;

}